body{
    background-color:hsl(212, 45%, 89%) ;
    max-width: 1440px;
    

}
#postQR{
    min-width: 280px;
    background-position-x: center;
    height: 70%;
    width: 0.1%;
    border-radius: 5%;
    background-color: hsl(0, 0%, 100%);
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    
}
#trx{ 
    background-position-x: center;
    
    height: 60%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
#p1{
    text-align: center;
    background-position-x: center;
    border:1px hidden white;
    font-family: 'Outfit', sans-serif;
    
    margin-left: 10%;
    margin-right: 10%;
    font-size: 120%; 
}
#p2{
    padding: 3%;
    text-align: center;
    background-position-x: center;
    border:1px hidden white;
    font-family: 'Outfit', sans-serif;
    margin-left: 9%;
    margin-right: 9%;
    font-size: 80%;
}


 
